@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #562075;
}

body {
  @apply bg-[#ede7fa];
  color: #636363;
  font-family: 'Open Sans', sans-serif;
}

#page-title {
  @apply text-center;
}

#page-title h1 {
  @apply text-3xl lg:text-4xl leading-none select-none text-primary-color mt-1 mb-2;
}

.fancy {
  font-family: 'Oooh Baby', cursive;
}

.primary-color {
  @apply text-primary-color;
}

.body-grid {
  @apply m-4;
}

.body-grid > div {
  @apply p-2 lg:p-4 bg-[#cdc6de] text-gray-600;
}