@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-color: #562075;
}

body {
  @apply bg-[#ede7fa];
  color: #636363;
  font-family: 'Open Sans', sans-serif;
}

#page-title {
  @apply text-center;
}

#page-title h1 {
  @apply text-3xl lg:text-4xl leading-none select-none text-primary-color mt-1 mb-2 font-semibold;
}

.fancy {
  font-family: 'Oooh Baby', cursive;
}

.primary-color {
  @apply text-primary-color;
}

.body-grid {
  @apply m-4;
}

.body-grid > div {
  @apply p-2 lg:p-4 bg-[#cdc6de] text-gray-600 rounded-sm;
}

.body-grid > div a {
  @apply underline;
  color: #333;
}

.form-field {
  @apply my-2;
}

.form-field label {
  @apply text-sm;
}

.form-field > * {
  @apply block mb-1 w-full text-sm;
}

.form-field input[type="text"], .form-field input[type="email"], .form-field input[type="number"], .form-field textarea {
  @apply rounded-sm px-2 py-1;
}

.form-field .validation-error {
  @apply text-sm italic text-red-600;
}